@{
    ViewBag.Title = "Ticket Has Been Submitted";
    Layout = "_Layout";
}

<div>
    <h1>Thank you for submitting your ticket!</h1>
    <h2>We will contact you soon with a solution.</h2>
</div>
<a asp-action="SubmitTicket" class="btn btn-outline-primary">Submit Another Ticket</a>
<a asp-action="Index" class="btn btn-outline-primary">Home</a>