@{
    ViewBag.Title = "Help Ticket System";
    Layout = "_Layout";
}

<div>
    <h1>Welcome to the Help Ticket System!</h1>
    <h2>If you are experiencing an issue with one of our supported product platforms, please follow the link to submit a help ticket.</h2>
</div>
<a asp-action="SubmitTicket" class="btn btn-primary">Submit A Ticket</a>
<a asp-controller="Admin" asp-action="NewTickets" class="btn btn-danger">Admin Login</a>