<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="margin: 20px">
    <div style="padding: 20px; box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);">
        @RenderBody()
    </div>
</body>
</html>
