
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Help Ticket System</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Welcome to the Help Ticket System</h1>
        <h2>We don't have a login page yet becuase I'm a n00b.</h2>
        <h3>Navigate if you can!</h3>
    </div>
    <a asp-action="SubmitTicket" class="btn btn-primary">Users</a>
    <a asp-controller="Admin" asp-action="NewTickets" class="btn btn-danger">Admin</a>
</body>
</html>
